<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body style="background-color: aliceblue; color: rgb(34, 35, 36);">
    <div class="container py-5">
        <div class="row">
            <h3 class="card-title mb-3">List Tools API AdliXSec</h3>
            <p>Simple API from Flask Python open source</p>
        </div>
        <div class="row">
            <div class="mt-5 mb-5">
                <section class="table-responsive">
                    <table class="table table-bordered table-striped table-dark">
                        <caption style="color: rgb(34, 35, 36);">
                            Application Program Interface
                        </caption>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Name Tools</th>
                                <th>ex: API</th>
                                <th>API</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Spam Call</td>
                                <td>/api/spamcall?no=(no target)</td>
                                <td><a href="/api/spamcall" style="text-decoration: none;">Link</a></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Clickjacking Test</td>
                                <td>/api/cjtest?cj=(https://target)</td>
                                <td><a href="/api/cjtest" style="text-decoration: none;">Link</a></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>CMS Scanner</td>
                                <td>/api/cmsscan?c=(https://target)</td>
                                <td><a href="/api/cmsscan" style="text-decoration: none;">Link</a></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>WP User Scan</td>
                                <td>/api/wpuser?u=(https://target)</td>
                                <td><a href="/api/wpuser" style="text-decoration: none;">Link</a></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Random Quotes</td>
                                <td>/api/randomquotes</td>
                                <td><a href="/api/randomquotes" style="text-decoration: none;">Link</a></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Gunting Batu Kertas</td>
                                <td>/api/main?m=(Gunting/Batu/Kertas)</td>
                                <td><a href="/api/main" style="text-decoration: none;">Link</a></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Password Generator</td>
                                <td>/api/passgenerator?p=(pass lu)</td>
                                <td><a href="/api/passgenerator" style="text-decoration: none;">Link</a></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Base64 Encode and Decode</td>
                                <td>Encode = /api/b64?enc=(string), Decode = /api/b64?dec=(string)</td>
                                <td><a href="/api/b64" style="text-decoration: none;">Link</a></td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Get IP From Host</td>
                                <td>/api/iphost?ip=(www.example.com)</td>
                                <td><a href="/api/iphost" style="text-decoration: none;">Link</a></td>
                            </tr>
                        </tbody>
                    </table>
                </section>
            </div>
        </div>
    </div>
    <!-- <div class="container py-4"> -->
        <footer
                class="text-center text-lg-start text-white"
                style="background-color: #1c2331"
                >
            <section
                    class="d-flex justify-content-between p-4"
                    style="background-color: #6351ce"
                    >
                <div class="me-5">
                    <span>Get connected with us on social networks:</span>
                </div>
                <div>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-google"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="" class="text-white me-4">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </section>
            <section class="">
                <div class="container text-center text-md-start mt-5">
                    <div class="row mt-3">
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">AdliXSec-API</h6>
                            <hr
                                class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px"
                                />
                            <p>
                                API made using Flask Python to make 
                                work easier especially for web security 
                            </p>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">List API</h6>
                            <hr
                                class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px"
                                />
                            <p>
                                <a href="" class="text-white">API Spam Call</a>
                            </p>
                            <p>
                                <a href="" class="text-white">API Random Quotes</a>
                            </p>
                            <p>
                                <a href="" class="text-white">API Clickjacking Tester</a>
                            </p>
                            <p>
                                <a href="" class="text-white">API CMS Scanner</a>
                            </p>
                        </div>
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold">Contact</h6>
                            <hr
                                class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #7c4dff; height: 2px"
                                />
                            <p><i class="fas fa-home mr-3"></i> Jawa Timur, Indonesia</p>
                            <p><i class="fas fa-envelope mr-3"></i> @naufalsyaa._</p>
                            <p><i class="fas fa-phone mr-3"></i> +62 896 3635 6114</p>
                        </div>
                    </div>
                </div>
            </section>
            <div
                class="text-center p-3"
                style="background-color: rgba(0, 0, 0, 0.2)"
                >
                © 2022 Copyright:
                <a class="text-white" href=""
                >AdliXSec-API</a
                >
            </div>
        </footer>
    <!-- </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>