<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdliXSec-API</title>
</head>
<body style="background-color:rgb(244, 248, 248)">
    <div align=center>
        <br>
        <table style="width:100%;height:98%">
            <tr>
                <td align=center>
                    <img src="https://h.top4top.io/p_22734nn3j1.png" alt="ApplicationProgramInterface" style="width: 180px;">
                    <h1>A . P . I</h1>
                    <h1>Owned by AdliXSec</h1><big>Instagram : <a href="https://instagram.com/naufalsyaa._" style="color: rgb(24, 175, 24);text-decoration: none">@naufalsyaa._</a></big>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>